body,html{height:100%;}
#home{
	padding: 0px;
	margin:0px;
	border-spacing: 0px;
	text-align: center;
	line-height: 200px;
	height:100%;
	width:100%;
	background-image: url('../images/scene.png');
	background-repeat: no-repeat;

	background-size:cover;
}
nav a{
	color:black;
	display: inline-block;
	width:33%;
	background:#00ffdc;
}
h2,h1{
	align-content:right;

}